.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 20px;
  font-size:18px;
  background-color: #63573c;
  color: #f8f6f1;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  margin-bottom: 18px;
}

.fa-plus {
  color: #f8f6f1;
}

.my-float {
  margin-top: 22px;
}
