.splash-container {
  margin-top: 220px;
}

.logo img {
  width: 280px;
  margin-bottom: 5px;
}

.p-off {
  margin-top: 10px;
  padding-top: 0px;
  margin-bottom: 50px;
}

.secondary-button-splashscreen {
    background: none;
    border: 1px solid #645853;
    color: #645853;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    /* transition: 0.3s ease background; */
    width: 60vw;
}