body {
  font-family: 'Roboto', sans-serif;
}


.card-container {
  background-color: #efeae5;
  width: 90%;
  margin: 0 auto;
  padding: 6px+;
  
  box-shadow: 2px 2px 3px #999;
}

.card-container {
  display: flex;
}

.book-img-container img {
  width: 80px;
  justify-content: center;
}

.add-favs-btn {
  background-color: #c6c98a;
}

.book-data {
  color: #eee7e1;
}