body {
  font-family: 'Roboto', sans-serif;
}

h3, p {
  color: black;
}

.card-container {
  background-color: #dfdece;
  width: 90%;
  margin: 0 auto;
  padding: 6px;
  margin-bottom: 15px;

  box-shadow: 2px 2px 3px #999;
}

.card-container {
  display: flex;
}

.book-img-container img {
  width: 80px;
  justify-content: center;
}

.add-favs-btn {
  background-color: #c6c98a;
}

.add-favs-btn {
  background-color: green;
  padding: 5px 10px;
}