.profile-pic {
  width: 80px;
}

.profile-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card-container > h3 {
  margin-bottom: 40px;
  margin-top: 0px;
}